asttokens==3.0.1
black==26.5.1
cached-property==2.0.1
chevron==0.14.0
click==8.4.1
decorator==5.3.1
executing==2.2.1
frozendict==2.4.7
genanki==0.13.1
ipdb==0.13.13
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
mypy_extensions==1.1.0
packaging==26.2
parso==0.8.7
pathspec==1.1.1
pexpect==4.9.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pytokens==0.4.1
PyYAML==6.0.3
stack-data==0.6.3
traitlets==5.15.1
wcwidth==0.8.1
